<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.example.crud.mapper.BoardMapper">

	<select id="showList" resultType="Board">
		SELECT B.*, M.nickname
			FROM board AS B
				INNER JOIN member AS M
				ON B.memberId = M.id
					WHERE B.type = #{type}
					<if test="searchKeyword != ''">
						<choose>  
							<when test="searchType == 'title'">
								AND title like CONCAT('%', #{searchKeyword}, '%')
							</when>
							<when test="searchType == 'body'">
								AND body like CONCAT('%', #{searchKeyword}, '%')
							</when>
							<otherwise>
		            			AND (title LIKE CONCAT('%', #{searchKeyword}, '%') OR body LIKE CONCAT('%', #{searchKeyword}, '%'))
							</otherwise>
						</choose>
					</if>
					ORDER BY B.id DESC
						LIMIT #{currentPageNumberPosts} OFFSET #{currentPage}
					 
	</select>
	
	<select id="cntPosts">
		SELECT COUNT(id) FROM board
			WHERE type = #{type}
			<if test="searchKeyword != ''">
				<choose>  
					<when test="searchType == 'title'">
						AND title like CONCAT('%', #{searchKeyword}, '%')
					</when>
					<when test="searchType == 'body'">
						AND body like CONCAT('%', #{searchKeyword}, '%')
					</when>
					<otherwise>
	           			AND (title LIKE CONCAT('%', #{searchKeyword}, '%') OR body LIKE CONCAT('%', #{searchKeyword}, '%'))
					</otherwise>
				</choose>
			</if>
	</select>
	
	<insert id="doWrite">
		INSERT INTO board
			SET type = #{type}
			, title = #{title}
			, body = #{body}
			, memberId = #{memberId}
			, regDate = NOW()
			, updateDate = NOW()
		<selectKey keyColumn="id" resultType="int" keyProperty="id" order="AFTER">
			select max(id) AS id from board
		</selectKey>
	</insert>
	
	<select id="getBoardById" resultType="Board">
		SELECT B.*, M.nickname
			FROM board AS B
				INNER JOIN member AS M
				ON B.memberId = M.id
			WHERE B.id = #{id}
	</select>
	
	<update id="doModify">
		UPDATE board
			SET type = #{type}
			, title = #{title}
			, body = #{body}
			, updateDate = NOW()
		WHERE id = #{id}
	</update>
	
	<select id="getLastId" resultType="int">
		SELECT MAX(id) FROM board
	</select>
	
	<update id="incHitCnt">
		UPDATE board 
			SET hit = hit + 1
			WHERE id = #{id}
	</update>

</mapper>
  